<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/head') %>
  <title>My Gallery</title>
</head>

<body>
    <%- include('../layouts/header') %>
  <main>
      <h4>Saved Works (<%= count %>)  &mdash;  <a id="h4-a" href="/searches">Add to Your Gallery <i class="fas fa-search"></i></a></h4>
    <section class="subhead">
        
        <h3>Select Gallery to View</h3>
        <form action="/gallery" method="POST">
          <select id="gallery-select" name="gallery">
            <option value="*">All Galleries</option>
            <% galleries.forEach(gallery => { %>
            <option value="<%= gallery.gallery %>"><%= gallery.gallery %></option>
            <%})%>
          </select>
          <button type="submit">View Gallery</button>
        </form>
    </section>

    </select>
    <ul>
      <% result.forEach(art => { %>
      <li class="art-items" data-work-id="<%= art.id %>">
        <section id="work-section">
          <img class="frame" src="<%= art.image_url %>" alt="image of painting">
          <h3><%= art.title %></h3>
          <span><%= art.artist %></span>
          <p>
            <% if (art.gallery) { %>
            gallery >
            <%= art.gallery %>
            <% } %>
          </p>
          <button id="button-detail" onclick="window.location.href = '/works/<%= art.id %>';">View Details</button>
        </section>
      </li>
      <% }) %>
    </ul>
  </main>
  <%- include('../layouts/footer') %>
</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</html>
