<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/head') %>
  <title>My Gallery</title>
</head>

<body>
  <%- include('../layouts/header') %>
  <main>

      <h4><%= count %> Saved Works &mdash;  <a id="h4-a" href="/searches">Add to Your Gallery <i class="fas fa-search"></i></a></h4>
    <section class="subhead">

      <form action="/gallery" method="POST">
        <h3>Create a new Gallery</h3>
        <label for="gallery">New Gallery Name</label>
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="gallery" id="gallery">
        <button type="submit">Create</button>
      </form>


      <form action="/gallery" method="post">
        <h3>Delete a Gallery</h3>
        <input type="hidden" name="_method" value="delete">
        <label for="gallery">Delete Gallery</label>
        <select name="gallery" id="gallery">
          <% galleries.forEach(gallery => { %>
          <option value="<%= gallery.name %>"><%= gallery.name %></option>
          <%})%>
        </select>
        <button type="submit">Delete</button>
      </form>


      <h3>Select Gallery to View</h3>
      <form action="/gallery" method="POST">

        <select id="gallery-select" name="gallery">
          <option value="all">All Galleries</option>
          <% galleries.forEach(gallery => { %>
          <option value="<%= gallery.name %>"><%= gallery.name %></option>
          <%})%>
        </select>
        <button type="submit">View Gallery</button>
      </form>
    </section>

    </select>
    <ul>
      <% result.forEach(art => { %>
      <li class="art-items" data-work-id="<%= art.id %>">
        <section class="work-section">
          <img class="frame" src="<%= art.image_url ? art.image_url : 'assets/placeholder.jpg' %>"
            alt="image of painting">
          <h3><%= art.title %></h3>
          <p><%= art.artist %></p>
          <p>gallery > <%= art.gallery %></p>
          <button onclick="window.location.href = '/works/<%= art.id %>'">View Details</button>
        </section>
      </li>
      <% }) %>
    </ul>
  </main>
  <%- include('../layouts/footer') %>
</body>
<%- include ../layouts/scripts %>

</html>