<html lang="en">

<head>
  <%- include('../layouts/head') %>
  <title>Search Results</title>
</head>

<body>
  <%- include('../layouts/header') %>
  <main>
    <section>
      <ul>
        <% works.forEach(work => { %>
        <li>
          <img src="<%=work.image_url%>">
          <p>Title: <%= work.title %></p>
          <p>Artist: <%= work.artist %></p>
          <p>Century: <%= work.century %></p>
          <p>Gallery: <%= work.gallery %></p>
        </li>
        <%})%>
      </ul>
    </section>
  </main>
  <%- include('../layouts/footer') %>
</body>

</html>